<ion-view  view-title="Se te olvidó tu contraseña">
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon icon-right ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content scroll="false">
        <form id="sign-in" class="list" style="text-align: center;">
            <div style="padding: 0 20px;">
                <label class="item item-input">
                    <i class="icon ion-person" style="margin-right: 5px;"></i>
                    <input type="text" name="username" ng-model="user.email" placeholder="Por favor, ingrese su nombre de usuario">
                </label>
                <div class="spacer" style="width: 285px; height: 10px;"></div>
                <button type="button" ng-click="updatePassword()" class="button button-positive button-block">Entrar</button   
            </div>
        </form>
    </ion-content>
</ion-view>