<ion-view title="" hide-nav-bar="true" hide-back-button="true" id="page9" class=" ">
    <ion-content scroll="false" id="home-page">
        <div class="row center" style="background-color: #3360b6;padding-top: 60px;padding-bottom: 15px;">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img src="img/foto.png" width="143">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 style="color:#ffffff;font-weight:300;font-size: 16px;margin-bottom: 0;">Bienvenido</h1>
                        <h2 style="color:#ffffff;font-weight:400;font-size: 18px;margin-top: 0;">
                            {{ profile.doctor.first_name }} {{ profile.doctor.last_name }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row center" style="margin-top: 50px;">
            <div class="col">
                <a href="#/tab/patient_search">
                    <img src="img/patients-icon.png" width="64">
                    <div class="clearfix"></div>
                    Pacientes
                </a>
            </div>
            <div class="col">
                <a href="#/tab/settings">
                    <img src="img/settings-icon.png" width="43">
                    <div class="clearfix"></div>
                    Configuración
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>