<ion-view hide-nav-bar="true" hide-back-button="true" view-title="" id="page2">
    <ion-content scroll="false">
        <form id="sign-in" class="list" style="text-align: center;">
            <img src="img/logo_2.png" style="margin-top: 30px;margin-bottom: 5px; width: 60%;">

            <div style="padding: 0 20px;">
                <label class="item item-input">
                    <i class="icon ion-person" style="margin-right: 5px;"></i>
                    <input type="text" name="username" ng-model="user.username" placeholder="Usuario">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-locked" style="margin-right: 5px;"></i>
                    <input type="password" name="password" ng-model="user.password" placeholder="Contraseña">
                </label>
                <div class="spacer" style="width: 285px; height: 10px;"></div>
                <button type="button" ng-click="login()" class="button button-positive button-block">Entrar</button>
                    <div  class="forgot" ng-click="forgotPassword()"><span>¿Olvido su clave?</span></div>
                <div class="spacer" style="width: 285px; height: 10px;"></div>
                <button type="button" class="button button-balanced button-block"  onclick="window.open('http://medicalfollow.com/registro_doctor', '_system', 'location=yes'); return false;">
                    Registrese
                </button>       
            </div>
        </form>
    </ion-content>
</ion-view>