<ion-view id="page3" class=" ">
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon icon-right ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title>Pacientes</ion-nav-title>
    <ion-content class="has-header">
        <ion-list id="pacientes-list8" class=" manual-list-fullwidth">
            <ion-item ng-click="getPatient(patient.id)" collection-repeat="patient in patients">
                {{ patient.first_name }} {{ patient.last_name }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>