<ion-view title="BUSCAR PACIENTES" id="page10" class=" ">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-content scroll="false" padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <form id="searchForm" class="list">
            <div style="width: 100%; text-align: center; padding: 0 0 25px 0;font-size: 17px;">
                Ingrese Número de documento y/o <br>nombres y apellidos.
            </div>
            <label class="item item-input " id="buscarPaciente-input11">
                <input type="text" ng-model="search.q" placeholder="Ingrese nombre o Documento de Identidad" style="padding-right: 16px;">
            </label>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <button ng-click="patientSearch()" type="button" class="button button-positive button-block">Buscar</button>
            <!--
            <button ng-click="patientAll()" type="button" class="button button-stable button-block">Listado de Pacientes</button>
            -->
        </form>
    </ion-content>
</ion-view>
