<ion-view title="Detalles de Paciente" id="page8" class=" ">
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon icon-right ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header">
        <span class="list" ng-show="patient != null">
            <label class="item item-input " id="lionelMessi-input3">
                <span class="input-label">Nombre(s)</span>
                {{ patient.first_name }}
            </label>
            <label class="item item-input " id="lionelMessi-input4">
                <span class="input-label">Apellidos</span>
                {{ patient.last_name }}
            </label>
            <label class="item item-input " id="lionelMessi-input5">
                <span class="input-label">Fecha Nac.</span>
                {{ patient.birth_date }}
            </label>
            <label class="item item-input " id="lionelMessi-input6">
                <span class="input-label">Peso</span>
                {{ patient.weight }} Kg
            </label>
            <label class="item item-input " id="lionelMessi-input7">
                <span class="input-label">Estatura</span>
                {{ patient.height }} cm
            </label>
            <label class="item item-input " id="lionelMessi-input8">
                <span class="input-label">IMC</span>
                {{ patient.emc }}
            </label>
            <div class="spacer" style="width: 285px; height: 24px;"></div>
            <ion-item class="item-divider " id="lionelMessi-list-item-divider2">Estudios</ion-item>
            <ion-list>
                <ion-item ng-click="openStudy(study.id)" collection-repeat="study in patient.studies">{{ study.name }}</ion-item>
            </ion-list>
            <div class="spacer" style="width: 285px; height: 24px;"></div>
        </span>
    </ion-content>
</ion-view>