<ion-view title="Mi Perfil" id="profile-page">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-content scroll="false" class="has-header">
        <div class="list" ng-show="profile != null">
            <label class="item item-input">
                <span class="input-label">Usuario</span>
                {{ profile.username }}
            </label>
            <label class="item item-input">
                <span class="input-label">Nombre(s)</span>
                <input type="text" ng-model="profile.doctor.first_name">
            </label>
            <label class="item item-input">
                <span class="input-label">Apellidos</span>
                <input type="text" ng-model="profile.doctor.last_name">
            </label>
            <label class="item item-input">
                <span class="input-label">Fecha de Nac.</span>
                <button type="button" ng-click="openDatePicker()" class="birth_date">{{ profile.doctor.birth_date }}</button>
            </label>
        </div>

        <div class="button-bar">
            <button ng-click="updateProfile()" class="button button-positive button-full">Guardar</button>
            <button ng-click="logout()" class="button button-assertive button-full">Salir</button>
        </div>

        <div style="margin-right:-20px;">
        </div>
    </ion-content>
</ion-view>