<ion-view title="Estudio" id="page11" class=" ">
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon icon-right ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header">
        <form id="frmPatientStudy" class="list">
            <!-- Section #1 -->
            <div ng-repeat="section in sections" ng-show="displayIf($index + 1)">
                <input type="hidden" name="stage_id" value="{{ stage.id }}">
                <!-- Section -->
                <div ng-repeat="question in section.questions"
                     data-require-id="{{ question.require.require_id }}"
                     data-require-answers="{{ question.require.require_answers }}"
                     data-name="{{ question.require.name }}"
                    >
                    <label class="item item-input item-stacked-label" ng-if="question.type_id == 1 || question.type_id == 5">
                        <span class="input-label">{{ question.name }}</span>
                        <div ng-bind-html="renderHtml(question.html)"></div>
                    </label>
                    <label class="item item-input item-stacked-label" ng-if="question.type_id == 2">
                        <span class="input-label">{{ question.name }}</span>
                        <div>
                            <input type="hidden" name="question[{{ question.id }}]" value="{{ question[question.id].id }}">
                            <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                    options="question.answers"
                                    modal-title="{{ question.name }}"
                                    cancel-button="Cancelar"
                                    hide-reset="true"
                                    on-select="queueRefreshQuestions()">

                                <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                <span ng-show="!isUndefined(question[question.id].name)">{{ question[question.id].name }}</span>

                                <div class="option">
                                    {{ option.name }}
                                </div>
                            </button>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label" ng-if="question.type_id == 3">
                        <span class="input-label">{{ question.name }}</span>
                        <div>
                            <ion-list>
                                <ion-checkbox name="question[{{ question.id }}][]" ng-value="answer.id" ng-repeat="answer in question.answers">{{ answer.name }}</ion-checkbox>
                            </ion-list>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label" ng-if="question.type_id == 4">
                        <span class="input-label">{{ question.name }}</span>
                        <div>
                            <input type="hidden" name="images[{{ question.id }}]" id="images_{{ question.id }}">
                            <button type="button" class="button button-light button-media" ng-click="addMedia(question.id)">
                                Seleccione
                            </button>
                        </div>
                    </label>
                </div>
                <div class="button-bar" ng-if="displayIfFirst($index + 1)">
                    <button href="#" ng-click="nextSection()" class="button button-positive button-block icon-right ion-android-arrow-forward">Siguiente</button>
                </div>
                <div class="button-bar" ng-if="displayIfMiddle($index + 1)">
                    <button ng-click="previousSection()" class="button button-stable button-block icon-left ion-android-arrow-back">Anterior</button>
                    <button ng-click="nextSection()" class="button button-positive button-block icon-right ion-android-arrow-forward">Siguiente</button>
                </div>
                <div class="button-bar" ng-if="displayIfLast($index + 1)">
                    <button ng-click="previousSection()" class="button button-stable button-block icon-left ion-android-arrow-back" ng-if="$index > 0">Anterior</button>
                    <button ng-click="save()" class="button button-positive button-block">Guardar</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>