<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-dark tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Inicio" icon="ion-ios-home" href="#/tab/home" id="tabsController-tab1" class=" ">
            <ion-nav-view name="tab-home"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Pacientes" icon="ion-ios-people" href="#/tab/patient_search" id="tabsController-tab2" class=" ">
            <ion-nav-view name="tab-patients"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Mi Perfil" icon="ion-gear-a" href="#/tab/settings" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab-settings"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>