<ion-view title="HISTORIAL" id="page4" class=" ">
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon icon-right ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="false" class="has-header">
    	<!-- <div ng-repeat="dates in response">
    		<div >
                    <label class="item item-input item-stacked-label">
                       <span class="input-label"><i class="ion-calendar"></i> {{ dates.updated_at}} <b class="ty">{{dates.type_name}}</b></span> 
                    </label>
             </div>       
         </div> 
         <div ng-if="response.length===0">
         	<span>No hay registros para ti</span>
         </div>      -->    

         <div class="list">
         <div ng-repeat="dates in response">
         	<a class="item item-thumbnail-left item-icon-right" ng-click="dataSHow(dates)">
		      <img class="pt-avt" src="./img/patient.png">
		      <h2>{{dates.first_name+' '+dates.last_name}}</h2>
		      <p>Fecha : {{ newDate(dates.updated_at) | date:"dd/MM/yyyy '-' h:mma" }}</p>
		      <p>Sección :<span class="balanced" ng-if="dates.type==1">{{dates.section_name}} --> {{ dates.type_name }}</span>
                          <span class="" style="color: #dc6f1d;" ng-if="dates.type==2">{{dates.section_name}} --> {{ dates.type_name }}</span>
                          <span class="positive" ng-if="dates.type==3">{{dates.section_name}} --> {{ dates.type_name }}</span></p>
		      <span class="item-note assertive">
		      <i class="ion-eye"></i>
			      Ver
		      <i class="ion-arrow-right-c"></i>
			    </span>
		    </a>
         </div>
		</div> 


         <div ng-if="response.length===0" style="text-align: center;">
         	<h3>No hay Registros para el (la) paciente</h3>
         </div> 

    </ion-content>
</ion-view>