<ion-view title="HISTORIAL" id="page4" class=" ">
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon icon-right ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="false" class="has-header">
    	<div class="list list-show" >
            <div ng-repeat="datas in historyData1"> 
                <label class="item item-input"  ng-if="datas.key !='cups' && datas.key.length > 2">
                    <div class="row">
                        <div class="col col-50 input-label" style="white-space: normal;">
                            {{datas.key | caprmundrscr}} 
                        </div>
                        <div class="col col-50" style="white-space: normal;">
                            {{ datas.value}}
                        </div>
                   <!--  <span ></span>
                    <span ></span> -->
                    </div>
                </label>  

             <!--    <label class="item item-thumbnail-right" ng-if="datas.key ==='tipo_fractura'">
                    <div class="row">
                        <div class="col col-60 input-label" style="white-space: normal;">
                           {{datas.key | caprmundrscr}} 
                        </div>
                        <div class="col col-0" style="white-space: normal;">
                              <img src="./img/erp/cadera/{{datas.value}}" ng-if="section==1">
                              <img src="./img/erp/rodilla/{{datas.value}}" ng-if="section==2">
                              <img src="./img/erp/hombro/{{datas.value}}" ng-if="section==3">
                        </div>
                    </div>
                  
                </label>    -->  

                <label class="item item-input" ng-if="datas.key ==='cups'">
                    <div class="row">
                        <div class="col col-50 input-label" style="white-space: normal;">
                           {{datas.key | caprmundrscr}} 
                        </div>
                        <div class="col col-50" style="white-space: normal;">
                              <span ng-repeat="cups in datas.value track by $index">{{cups}},</span>
                        </div>
                   <!--  <span ></span>
                    <span ></span> -->
                    </div>
                  
                </label>      
            </div>
        </div>
        <div class="list card" ng-if="images.length > 0">

          <div class="item item-divider">
            Uploaded images
          </div>
          <div  ng-repeat=" img in images track by $index">
              
              <div class="item">
                <h2>#image {{$index +1}}</h2>
              </div>

              <div class="item item-image img-cont">
                <img src="http://datapromed.com/promeddata_dev/storage/records/images/{{img.name}}">
              </div>
          </div>

          <!-- <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-music-note"></i>
            Start listening
          </a> -->

        </div>
    </ion-content>
</ion-view>