<ion-view title="Crear Paciente" id="patient-create-page">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon icon-right ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="false" class="has-header">
    <form name="patientCreatForm" novalidate>
        
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Numero de Identificación</span>
                <input required name="number" type="number" ng-model="patient.number_id">
                <span ng-if="patient.number_id">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

                    <span class="mbsc-err-msg" ng-show="patientCreatForm.number.$error.required && (patientCreatForm.$submitted || patientCreatForm.number.$touched)"><i class="ion-alert"></i> Se requiere campo </span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nombres</span>
                <input required name="first_name" type="text" ng-model="patient.first_name" only-letters-input>
                <span ng-if="patient.first_name">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

                    <span class="mbsc-err-msg" ng-show="patientCreatForm.first_name.$error.required && (patientCreatForm.$submitted || patientCreatForm.first_name.$touched)"><i class="ion-alert"></i> Se requiere campo </span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Apellidos</span>
                <input required name="last_name" type="text" ng-model="patient.last_name" only-letters-input>
                <span ng-if="patient.last_name">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

                    <span class="mbsc-err-msg" ng-show="patientCreatForm.last_name.$error.required && (patientCreatForm.$submitted || patientCreatForm.last_name.$touched)"><i class="ion-alert"></i> Se requiere campo </span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Teléfono / Móvil</span>
                <input required name="phone_mobile" type="number" ng-model="patient.phone_mobile">
                <span ng-if="patient.phone_mobile">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

                    <span class="mbsc-err-msg" ng-show="patientCreatForm.phone_mobile.$error.required && (patientCreatForm.$submitted || patientCreatForm.phone_mobile.$touched)"><i class="ion-alert"></i> Se requiere campo </span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Dirección</span>
                <input required name="address" type="text" ng-model="patient.address">
                <span ng-if="patient.address">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

                    <span class="mbsc-err-msg" ng-show="patientCreatForm.address.$error.required && (patientCreatForm.$submitted || patientCreatForm.address.$touched)"><i class="ion-alert"></i> Se requiere campo </span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Ciudad</span>
                <div>
                    <button class="button button-light button-media" has-search=true modal-select="" ng-model="patient.city_id"
                            options="lists.cities"
                            modal-title="Ciudad"
                            cancel-button="Cancelar"
                            load-list-message="Cargando"
                            cancel-search-button="Borrar"
                            search-placeholder="Buscar"
                            hide-reset="true"
                            on-select="onCitySelect(patient.city_id)">
                        <span ng-show="patient.city_id == null">Seleccione</span>
                        <span ng-show="patient.city_id !== null">{{ patient.city_id.name}}</span>
                        <div class="option">
                            {{ option.name}}
                        </div>
                    </button>
                </div>

                <span ng-if="patient.city_id">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>
            </label>


            
            <label class="item item-input item-stacked-label">
                <span class="input-label">Institución Clínica</span>
                <div>
                    <button class="button button-light button-media" has-search=true modal-select="" ng-model="patient.clinical_institution"
                            options="institution"
                            modal-title="Institución Clínica"
                            cancel-button="Cancelar"
                            load-list-message="Cargando...."
                            cancel-search-button="Borrar"
                            search-placeholder="Buscar"
                            hide-reset="true">
                        <span ng-show="patient.clinical_institution == null">Seleccione</span>
                        <span ng-show="patient.clinical_institution !== null">{{patient.clinical_institution.name}}</span>
                        <div class="option">
                            {{ option.name}}
                        </div>
                    </button>
                </div>
                <span ng-if="patient.clinical_institution">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>
            </label>

           <!--  <label class="item item-input item-stacked-label">
                <span class="input-label">Institución Clínica</span>
                <input required name="" type="text" ng-model="patient.clinical_institution">
                 <span ng-if="patient.clinical_institution">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

                    <span class="mbsc-err-msg" ng-show="patientCreatForm.number_id.$error.required && (patientCreatForm.$submitted || patientCreatForm.number_id.$touched)"><i class="ion-alert"></i> Se requiere campo </span>
            </label>
 -->
            <label class="item item-input item-stacked-label">
                <span class="input-label">Correo Electrónico</span>
                <input name="" type="text" ng-model="patient.email">
                 <span ng-if="patient.email">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Género</span>
                <div>
                    <button class="button button-light button-media" modal-select="" ng-model="patient.gender"
                            options="lists.genders"
                            modal-title="Género"
                            cancel-button="Cancelar"
                            hide-reset="true">
                        <span ng-show="patient.gender == null">Seleccione</span>
                        <span ng-show="patient.gender !== null">{{ patient.gender.name}}</span>
                        <div class="option">
                            {{ option.name}}
                        </div>
                    </button>
                </div>
                 <span ng-if="patient.gender">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

            </label>
            <label class="item item-input item-stacked-label" ng-click="openDatePicker()">
                <span class="input-label">Fecha de Nac.</span>
                <div class="clearfix"></div>
                <div>
                    {{ patient.birth_date !== null ? patient.birth_date : 'Seleccione' }}
                </div>
                 <span ng-if="patient.birth_date">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Altura (cms)</span>
                <input required name="height" type="number" ng-model="patient.height">
                 <span ng-if="patient.height">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

                    <span class="mbsc-err-msg" ng-show="patientCreatForm.height.$error.required && (patientCreatForm.$submitted || patientCreatForm.height.$touched)"><i class="ion-alert"></i> Se requiere campo </span>

            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Peso (Kgs)</span>
                <input required name="weight" type="number" ng-model="patient.weight">
                 <span ng-if="patient.weight">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

                    <span class="mbsc-err-msg" ng-show="patientCreatForm.weight.$error.required && (patientCreatForm.$submitted || patientCreatForm.weight.$touched)"><i class="ion-alert"></i> Se requiere campo </span>

            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Diagnóstico</span>
                <input required name="diagnostic" type="text" ng-model="patient.diagnostic">
                 <span ng-if="patient.diagnostic">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

                    <span class="mbsc-err-msg" ng-show="patientCreatForm.diagnostic.$error.required && (patientCreatForm.$submitted || patientCreatForm.diagnostic.$touched)"><i class="ion-alert"></i> Se requiere campo </span>

            </label>
<!--            <label class="item item-input item-stacked-label">
                <span class="input-label">Antecedentes Personales</span>
                <div>
                    <tags-input ng-model="tag" display-property="name" placeholder="Antecedentes Personales" replace-spaces-with-dashes="false">
                        <auto-complete source="locadata($query)"
                                       min-length="0"
                                       load-on-focus="true"
                                       load-on-empty="true"
                                       max-results-to-show="32"
                                       template="my-custom-template"></auto-complete>
                    </tags-input>
                </div>
            </label>-->
<!--            <label class="item item-input item-stacked-label" ng-if="showOctra">
                <span class="input-label">Antecedentes Personal (Otro)</span>
                <input required name="" type="text" ng-model="patient.personal_history_other">
            </label>-->

            <label class="item item-input item-stacked-label">
                <span class="input-label">Antecedentes Personales</span>
                <div>
                    <!-- <button class="button button-light button-media"  modal-select="" ng-model="patient.personal_history_id"
                            options="lists.personalHistories"
                            modal-title="Antecedentes Personales"
                            cancel-button="Cancelar"
                            hide-reset="true"
                            on-select="showOthers()">
                        <span ng-show="patient.personal_history_id == null">Seleccione</span>
                        <span ng-show="patient.personal_history_id !== null">{{ patient.personal_history_id.name }}</span>
                        <div class="option">
                            {{ option.name }}
                        </div>
                    </button> -->
                    <button class="button button-light button-media" modal-select="" ng-model="patient.personal_history"
                                    options="lists.personalHistories"
                                    modal-title="Antecedentes Personales"
                                    cancel-button="Cancelar"
                                    hide-reset="true"
                                    multiple='true'
                                    on-select="setPersonales(patient.personal_history)">

                                <span ng-show="!patient.personal_history_id">Seleccione</span>
                                <span ng-show="patient.personal_history_id" style="white-space: normal;">
                                    {{patient.personal_history_id.name}}
                                    
                                </span>

                                <div class="option">
                                    {{ option.name}}
                                </div>
                            </button>
                </div>

                 <span ng-if="patient.personal_history_id">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

            </label>
            <label class="item item-input item-stacked-label" ng-if="octra">
                <span class="input-label">Antecedentes Personal (Otro)</span>
                <input name="" type="text" ng-model="patient.personal_history_other">
                 <span ng-if="patient.personal_history_other">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nombre del Contacto</span>
                <input required name="contact_name" type="text" ng-model="patient.contact_name" only-letters-input>
                 <span ng-if="patient.contact_name">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

                    <span class="mbsc-err-msg" ng-show="patientCreatForm.contact_name.$error.required && (patientCreatForm.$submitted || patientCreatForm.contact_name.$touched)"><i class="ion-alert"></i> Se requiere campo </span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Teléfono del Contacto</span>
                <input required name="contact_phone" type="number" ng-model="patient.contact_phone">
                 <span ng-if="patient.contact_phone">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>

                    <span class="mbsc-err-msg" ng-show="patientCreatForm.contact_phone.$error.required && (patientCreatForm.$submitted || patientCreatForm.contact_phone.$touched)"><i class="ion-alert"></i> Se requiere campo </span>
            </label>
        </div>
        
        <div class="button-bar">
            <button ng-click="save(patientCreatForm)" class="button button-positive button-full">Guardar</button>
        </div>
    </form>
    </ion-content>
</ion-view>