<!-- <script>
//jQuery('img[usemap]').imageMap();    
</script> -->
<ion-view title="Detalles de Paciente" id="page8" class=" ">
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon icon-right ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="false" class="has-header">
        <div class="list list-show" ng-show="patient != null">
              <i class=" icon ion-edit ionicfloat" ng-show="patient != null"  style="float:right" ng-click="goEdit()">
        </i>
            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">N. Idenficación</span>
                <span class="col col-50 lb">{{ patient.number_id}}</span>
            </label>
            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Nombre(s)</span>
                <span class="col col-50 lb">{{ patient.first_name}}</span>
            </label>
            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Apellidos</span>
                <span class="col col-50 lb">{{ patient.last_name}}</span>
            </label>
            <label class="item item-row item-input">
                <span class=" col col-50 input-label lb">Teléfono / Móvil</span>
                <span class="col col-50 lb">{{ patient.phone_mobile}}</span>
            </label>
            <label class="item item-input">
                <span class="col col-50 input-label lb">Dirección</span><span class="col col-50 lb">{{ patient.address}}</span>
            </label>
            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Ciudad</span>
                <span class="col col-50 lb"> {{ patient.city_id.name}}</span>
            </label>
            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Correo Electrónico</span>
                <span class="col col-50 lb">{{ patient.email}}</span>
            </label>
            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Género</span>
                <span class="col col-50 lb">{{ patient.gender}}</span>
            </label>
            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Fecha Nac.</span>
                <span class="col col-50">{{ patient.birth_date}}</span>
            </label>
            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Peso</span>
                <span class="col col-50 lb">{{ patient.weight}} Kg</span>
            </label>
            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Estatura</span>
                <span class="col col-50 lb">{{ patient.height}} cm</span>
            </label>
            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">IMC</span>
                <span class="col col-50 lb">{{ patient.emc}}</span>
            </label>

            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Diagnostico</span>
                <span class="col col-50 lb">{{ patient.diagnostic}}</span>
            </label>

            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Antecedentes Personales</span>
                <span class="col col-50 lb">{{patient.personal_history.name}}</span>
            </label>

            <label class="item item-row item-input"  ng-if="patient.personal_history_id == 2">
                <span class="col col-50 input-label lb">Antecedentes Personales</span>
                <span class="col col-50 lb">Hipertensión</span>
            </label>

            <label class="item item-row item-input"  ng-if="patient.personal_history_id == 3">
                <span class="col col-50 input-label lb lb">Antecedentes Personales</span>
                <span class="col col-50 lb">Cáncer</span>
            </label>

            <label class="item item-row item-input"  ng-if="patient.personal_history_id == 4">
                <span class="col col-50 input-label lb">Antecedentes Personales</span>
                <span class="col col-50 lb">Cardiopatía</span>
            </label>

            <label class="item item-row item-input"  ng-if="octra">
                <span class="col col-50 input-label lb">Antecedentes Personales Octra</span>
                <span class="col col-50 lb">{{patient.personal_history_other}}</span>
            </label>

            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Institución Clínica</span>
                <span class="col col-50 lb">{{ patient.clinical_institution}}</span>
            </label>

            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Nombre de Contacto</span>
                <span class="col col-50 lb">{{ patient.contact_name}}</span>
            </label>

            <label class="item item-row item-input">
                <span class="col col-50 input-label lb">Teléfono de Contacto</span>
                <span class="col col-50 lb">{{ patient.contact_phone}}</span>
            </label>
            <!--
            <a href="#/tab_erp/patient/procedures/1" class="button button-full button-stable" style="margin-top: 30px;">Procedimientos</a>
            <div class="item item-divider" style="margin-top: 20px;">
                <a href="#/tab_erp/patient/procedures/1" class="button button-full button-positive">Procedimientos</a>
            </div>
            -->
            <!--            <div class="card" style="margin: 20px 0;">
                            <div class="item item-divider">
                                Hombro
                            </div>
                            <div class="item item-text-wrap" style="padding: 0;">
                                <div class="button-bar">
                                    <a href="#/tab_erp/form/hombro/consulta/{{ patient.id}}" class="button button-stable">Consulta</a>
                                    <a href="#/tab_erp/form/hombro/cirugia/{{ patient.id}}" class="button button-stable">Cirugía</a>
                                    <a href="#/tab_erp/form/hombro/control/{{ patient.id}}" class="button button-stable">Control</a>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin: 20px 0;">
                            <div class="item item-divider">
                                Cadera
                            </div>
                            <div class="item item-text-wrap" style="padding: 0;">
                                <div class="button-bar">
                                    <a href="#/tab_erp/form/cadera/consulta/{{ patient.id}}" class="button button-stable">Consulta</a>
                                    <a href="#/tab_erp/form/cadera/cirugia/{{ patient.id}}" class="button button-stable">Cirugía</a>
                                    <a href="#/tab_erp/form/cadera/control/{{ patient.id}}" class="button button-stable">Control</a>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin: 20px 0;">
                            <div class="item item-divider">
                                Rodilla
                            </div>
                            <div class="item item-text-wrap" style="padding: 0;">
                                <div class="button-bar">
                                    <a href="#/tab_erp/form/rodilla/consulta/{{ patient.id}}" class="button button-stable">Consulta</a>
                                    <a href="#/tab_erp/form/rodilla/cirugia/{{ patient.id}}" class="button button-stable">Cirugía</a>
                                    <a href="#/tab_erp/form/rodilla/control/{{ patient.id}}" class="button button-stable">Control</a>
                                </div>
                            </div>
                        </div>-->
            <div id="human_box">
                <img rwdimgmap src='img/human-body-350.jpg' width=350 height=531 usemap="#Map">
                <map name="Map" id="Map">
                    <area alt="Cadera" title="Cadera" ng-click="showActionsheetCadera(patient.id)" class="show_cadera_box" shape="rect" coords="284,286,316,312" />
                    <area alt="Rodilla" title="Rodilla" ng-click="showActionsheetRodilla(patient.id)"  class="show_rodilla_box" shape="rect" coords="8,358,69,382" />
                    <area alt="Hombro" title="Hombro" ng-click="showActionsheet(patient.id)" class="show_hombro_box" shape="rect" coords="236,2,339,40" />
                    <!-- Circles -->
                    <area alt="Cadera" title="Cadera" ng-click="showActionsheetCadera(patient.id)" class="show_cadera_box" shape="rect" coords="172,255,216,292" />
                    <area alt="Rodilla" title="Rodilla" ng-click="showActionsheetRodilla(patient.id)"  class="show_rodilla_box" shape="rect" coords="114,360,165,392" />
                    <area alt="Hombro" title="Hombro" ng-click="showActionsheet(patient.id)"  shape="rect" coords="168,123,210,153" />
                    <area alt="Spine" title="Spine" ng-click="showActionsheetColumna(patient.id)"   class="show_rodilla_box" coords="195,215,18" shape="circle">

                </map>
            </div>
        </div>
    </ion-content>
</ion-view>
