<ion-view title="Mi Perfil" id="profile-page">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-content scroll="false" class="has-header">

    <form name="phycisianForm" ng-submit="submitForm(phycisianForm.$valid)" novalidate>
        <div class="list" ng-show="profile != null">
            <label class="row item item-input">
                <div class="col col-50">
                    <span class="input-label">Usuario</span>    
                </div>
                <div class="col col-50">
                    {{ profile.username }}
                </div>
            </label>
            <label class="row item item-input"  ng-class="{ 'has-error' : phycisianForm.first_name.$invalid && !phycisianForm.first_name.$pristine }">
                <div class="col col-50">
                    <span class="input-label">Nombre(s)</span>
                </div>
                <div class="col col-50">
                    <input type="text" name="first_name" ng-model="profile.doctor.first_name" required>

                <p ng-show="phycisianForm.first_name.$invalid && !phycisianForm.first_name.$pristine" class="help-block">Tu primer nombre es obligatorio.</p>
                </div>
            </label>
            <label class="row item item-input"  ng-class="{ 'has-error' : phycisianForm.last_name.$invalid && !phycisianForm.last_name.$pristine }">
                <div class="col col-50">
                    <span class="input-label">Apellidos</span>
                </div>
                <div class="col col-50">
                    <input type="text" name="last_name" ng-model="profile.doctor.last_name" required>
                 <p ng-show="phycisianForm.last_name.$invalid && !phycisianForm.last_name.$pristine" class="help-block">Tu apellido es obligatorio.</p>
                </div>
            </label>
            <label class="row item item-input">
                <div class="col col-50">
                    <span class="input-label">Fecha de Nac.</span>
                </div>
                <div class="col col-50">
                <button type="button" ng-click="openDatePicker()" class="birth_date">{{ profile.doctor.birth_date }}</button>
                </div>
            </label>
            <label class="row item item-input">
                <div class="col col-50">
                    <span class="input-label">Cambiar Contraseña</span>
                </div>
                <div class="col col-50">
                    <input type="password" ng-model="profile.doctor.password">
                    <p ng-show="passValid" class="help-block">La contraseña debe contener 8 caracteres.</p>
                </div>
            </label>
        </div>
        <div class="button-bar">
            <button ng-click="updateProfile(phycisianForm.$valid)" class="button button-positive button-full">Guardar</button>
            <button ng-click="logout()" class="button button-assertive button-full">Salir</button>
        </div>
    </form>

        <div style="margin-right:-20px;">
        </div>
    </ion-content>
</ion-view>