<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-dark tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Inicio" icon="ion-ios-home" href="#/tab_erp/home" id="tabsController-tab1" class=" ">
            <ion-nav-view name="tab_erp-home"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Pacientes" icon="ion-ios-people" href="#/tab_erp/patient_search" id="tabsController-tab2" class=" ">
            <ion-nav-view name="tab_erp-patient_search"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Mi Perfil" icon="ion-gear-a" href="#/tab_erp/settings" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab_erp-settings"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Historial" class="his" icon="ion-calendar" href="#/tab_erp/patient_history_search" id="tabsController-tab4" class=" ">
            <ion-nav-view name="tab_erp-history"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>