<ion-view title="{{ pageTitle}}" id="page11" class=" ">
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon icon-right ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="false" class="has-header">
        <form id="frmErpForms" name="erpForm" novalidate class="list">
            <label class="item item-input item-stacked-label" ng-click="showBoat();">
                <span class="input-label">
                    Tipo de Procedimiento
                </span>
                <div>
                    <input type="hidden" name="record_tipo" value="{{ record_tipo.id}}">
                    <button class="button button-light button-media" modal-select="" ng-model="record_tipo"
                            options="sections"
                            modal-title="Tipo de Procedimiento"
                            hide-footer="true"
                            hide-reset="true"
                            on-select="recordTipoSelected(record_tipo)">

                        <span ng-show="isUndefined(record_tipo.name)">Seleccione</span>
                        <span ng-show="!isUndefined(record_tipo.name)">{{ record_tipo.name}}</span>

                        <div class="option">
                            {{ option.name}}
                        </div>
                    </button>
                    <span ng-if="record_tipo">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>    
                </div>
            </label>

            <!-- Section #1 -->
            <div ng-repeat="section in sections" ng-show="record_tipo.id == section.id && shower == 1">
                <!-- Section -->
                <div ng-repeat="question in section.questions">
                    <label class="item item-input item-stacked-label" ng-if="question.type == 'date' && question.id != 'tratamiento'">
                        <span class="input-label">{{ question.label}}</span>
                        <div>
                            <input type="date" name="question[{{ section.id}}][{{ question.id}}]"
                                   ng-model="currentQuestion[section.id][question.id]" 
                                   ng-init="currentQuestion[section.id][question.id] = currentDate">
                            <span ng-if="currentQuestion[section.id][question.id]">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                    <label class="item item-input item-stacked-label" ng-if="question.type == 'text' && question.id != 'tratamiento'">
                        <span class="input-label">{{ question.label}}</span>
                        <div ng-bind-html="renderHtml(question.html)"></div>
                    </label>

                    <label class="item item-input item-stacked-label" ng-if="question.type == 'text_dependent' && question.id != 'tratamiento'"
                           ng-show="currentQuestion[section.id][question.dependent.id].id == question.dependent.value" ng-click="cosoleDegen(currentQuestion[section.id][question.dependent.id],question.dependent)">
                        <span class="input-label">{{ question.label}}</span>
                        <div>
                            <input type="text" name="question[{{ section.id}}][{{ question.id}}]" ng-model="currentQuestion[section.id][question.id]">
                            <span ng-if="currentQuestion[section.id][question.id]">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                    <label class="item item-input item-stacked-label" ng-if="question.type == 'time' && question.id != 'tratamiento'">
                        <span class="input-label">{{ question.label}}</span>
                        <div>
                        <input type="hidden" name="question[{{ section.id}}][{{ question.id}}]" ng-model="currentQuestion[section.id][question.id]">
                         <!-- value="{{ currentQuestion[section.id][question.id]}}"> -->
                            <button
                                ion-datetime-picker time
                                ng-model="currentQuestion[section.id][question.id]"
                                title="'Seleccione Hora'"
                                class="button button-light button-media">
                                <span ng-if="currentQuestion[section.id][question.id] == null">
                                    Seleccione
                                </span>
                                <span ng-if="currentQuestion[section.id][question.id] != null">
                                    {{ currentQuestion[section.id][question.id] | date: "HH:mm" }}
                                </span>
                            </button>
                            <span ng-if="currentQuestion[section.id][question.id]">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                    <label class="item item-input item-stacked-label" ng-if="question.type == 'select' && question.id != 'cups' && question.id != 'tratamiento'">
                        <span class="input-label">
                            <div ng-bind-html="renderHtml(question.label)"></div>
                        </span>
                        <div>
                            <input type="hidden" name="answers[{{ section.id}}][{{ question.id}}]" value="{{ currentQuestion[section.id][question.id].id}}">
                            <input type="hidden" name="question[{{ section.id}}][{{ question.id}}]" value="{{ currentQuestion[section.id][question.id].name}}">
                            <button class="button button-light button-media" modal-select="" ng-model="currentQuestion[section.id][question.id]"
                                    options="question.answers"
                                    modal-title="{{ question.label}}"
                                    cancel-button="Cancelar"
                                    hide-reset="true"
                                    cancel-search-button="Borrar"
                                    search-placeholder="Buscar"
                                    on-select="getReemplazoId(question.id,currentQuestion[section.id][question.id].id);queueRefreshQuestions()">

                                <span ng-show="isUndefined(currentQuestion[section.id][question.id].name)">Seleccione</span>
                                <span ng-show="!isUndefined(currentQuestion[section.id][question.id].name)">
                                    {{ currentQuestion[section.id][question.id].name}}
                                </span>

                                <div class="option">
                                    {{ option.name}}
                                </div>
                            </button>
                            <span ng-if="currentQuestion[section.id][question.id]">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                    <label class="item item-input item-stacked-label" ng-if="question.type == 'select' && question.id == 'cups'">
                        <span class="input-label">
                            <div ng-bind-html="renderHtml(question.label)"></div>
                        </span>
                        <div>
                            <input type="hidden" ng-repeat="ids in currentQuestion[section.id][question.id]" name="question[{{ section.id}}][{{ question.id}}][]" value="{{ids.name| limitTo:6}}">
                            <button class="button button-light button-media" multiple='true' has-search=true modal-select="" ng-model="currentQuestion[section.id][question.id]"
                                    options="question.answers"
                                    modal-title="{{ question.label}}"
                                    cancel-button="Cancelar"
                                    cancel-search-button="Borrar"
                                    search-placeholder="Buscar"
                                    hide-reset="true",
                                    on-select="queueRefreshQuestions()">

                                <span ng-if="currentQuestion[section.id][question.id].length < 1">Seleccione</span>
                                <span ng-if="currentQuestion[section.id][question.id].length > 0 &&  !resetCups">
                                    <span>
                                        {{currentQuestion[section.id][question.id].length}} CUP
                                    </span></span>
                                <div class="option">
                                    {{ option.name}}
                                </div>
                            </button>

                            <span ng-if="currentQuestion[section.id][question.id] && !resetCups">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>



                    <label class="item item-input item-stacked-label" ng-if="question.type == 'select_dependent' && question.id != 'tratamiento'"
                           ng-show="currentQuestion[section.id][question.dependent.id].id == question.dependent.value">
                        <span class="input-label">
                            <div ng-bind-html="renderHtml(question.label)"></div>
                        </span>
                        <div>
                            <input type="hidden" name="answers[{{ section.id}}][{{ question.id}}]" value="{{ currentQuestion[section.id][question.id].id}}">
                            <input type="hidden" name="question[{{ section.id}}][{{ question.id}}]" value="{{ currentQuestion[section.id][question.id].name}}">
                            <button class="button button-light button-media" modal-select="" ng-model="currentQuestion[section.id][question.id]"
                                    options="question.answers"
                                    modal-title="{{ question.label}}"
                                    cancel-button="Cancelar"
                                    hide-reset="true"
                                    on-select="queueRefreshQuestions()">

                                <span ng-show="isUndefined(currentQuestion[section.id][question.id].name)">Seleccione</span>
                                <span ng-show="!isUndefined(currentQuestion[section.id][question.id].name)">
                                    {{ currentQuestion[section.id][question.id].name}}
                                </span>

                                <div class="option">
                                    {{ option.name}}
                                </div>
                            </button>

                            <span ng-if="currentQuestion[section.id][question.id]">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                    <label class="item item-input item-stacked-label" ng-if="question.type == 'image' && question.id != 'tratamiento'">
                        <span class="input-label">{{ question.label}}</span>
                        <div>
                            <input type="hidden" name="images[{{ section.id}}][{{ question.id}}]" id="images_{{ question.id}}">
                            <button type="button" class="button button-light button-media" ng-click="addMedia(question.id)">
                                <span ng-if="imim != question.id+'Image' && imimOld != question.id+'Image'">Cargar Imagen</span><span ng-if="imim == question.id+'Image' || imimOld == question.id+'Image'">Imagen Cargada</span>
                            </button>
                        </div>
                        <span ng-if="imim == question.id+'Image'">
                            <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                        </span>
                          <span ng-if="imimOld == question.id+'Image'">
                            <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                        </span>
                    </label>

                    <div ng-if="(sectionName == 'hombro' || sectionName == 'rodilla') && question.id == 'tipo' && question.id != 'tratamiento'">
                        <div ng-repeat="marca in cirugia_protesis.marcas">
                            <label class="item item-input item-stacked-label"
                                   ng-if="getQuestionId(section.id, 'reemplazo') == marca.replace_id && getQuestionId(section.id, 'tipo') == marca.type_id">
                                <span class="input-label">
                                    Marca
                                </span>
                                <div>
                                    <input type="hidden" name="answers[{{ section.id}}][{{ marca.id}}]" value="{{ currentQuestion[section.id][marca.id].id}}">
                                    <input type="hidden" name="question[{{ section.id}}][marca]" value="{{ currentQuestion[section.id][marca.id].name}}">
                                    <button class="button button-light button-media" modal-select="" ng-model="currentQuestion[section.id][marca.id]"
                                            options="marca.answers"
                                            modal-title="Marca"
                                            cancel-button="Cancelar"
                                            hide-reset="true">

                                        <span ng-show="isUndefined(currentQuestion[section.id][marca.id].name)">Seleccione</span>
                                        <span ng-show="!isUndefined(currentQuestion[section.id][marca.id].name)">{{ currentQuestion[section.id][marca.id].name}}</span>

                                        <div class="option">
                                            {{ option.name}}
                                        </div>
                                    </button>
                                    <span ng-if="currentQuestion[section.id][marca.id]">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>

                            <label class="item item-input item-stacked-label" ng-if="currentQuestion[section.id][marca.id].id ==='sugerir'" ng-show="getQuestionId(section.id, 'reemplazo') == marca.replace_id && getQuestionId(section.id, 'tipo') == marca.type_id">
                                <span class="input-label">Sugerir Marca</span>
                                <div>
                                    <input type="text" name="question[{{ section.id}}][sugerir_fabricante]" ng-model="currentQuestion[section.id]['sugerir_fabricante']">
                                    <span ng-if="currentQuestion[section.id]['sugerir_fabricante']">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>

                            <label class="item item-input item-stacked-label" ng-if="currentQuestion[section.id][marca.id].id ==='sugerir'" ng-show="getQuestionId(section.id, 'reemplazo') == marca.replace_id && getQuestionId(section.id, 'tipo') == marca.type_id">
                                <span class="input-label">Referencia</span>
                                <div>
                                    <input type="text" name="question[{{ section.id}}][sugerir_nombre_comercial]" ng-model="currentQuestion[section.id]['sugerir_nombre_comercial']">
                                    <span ng-if="currentQuestion[section.id]['sugerir_nombre_comercial']">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>
                        </div>

                        

                        <div ng-repeat="referencia in cirugia_protesis.referencias" ng-if="currentQuestion[section.id][marca.id] !='sugerir'">
                            <label class="item item-input item-stacked-label"
                                   ng-if="getQuestionId(section.id, 'reemplazo') == referencia.replace_id &&
                                                               getQuestionId(section.id, 'tipo') == referencia.type_id &&
                                                               getMarcaId() == referencia.brand_id">
                                <span class="input-label">
                                    Referencia
                                </span>
                                <div>
                                    <input type="hidden" name="answers[{{ section.id}}][{{ referencia.id}}]" value="{{ currentQuestion[section.id][referencia.id].id}}">
                                    <input type="hidden" name="question[{{ section.id}}][referencia]" value="{{ currentQuestion[section.id][referencia.id].name}}">
                                    <button class="button button-light button-media" modal-select="" ng-model="currentQuestion[section.id][referencia.id]"
                                            options="referencia.answers"
                                            modal-title="Referencia"
                                            cancel-button="Cancelar"
                                            hide-reset="true">

                                        <span ng-show="isUndefined(currentQuestion[section.id][referencia.id].name)">Seleccione</span>
                                        <span ng-show="!isUndefined(currentQuestion[section.id][referencia.id].name)">{{ currentQuestion[section.id][referencia.id].name}}</span>

                                        <div class="option">
                                            {{ option.name}}
                                        </div>
                                    </button>

                                    <span ng-if="currentQuestion[section.id][referencia.id]">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>
                             <label class="item item-input item-stacked-label" ng-if="currentQuestion[section.id][referencia.id].id ==='referencia'" ng-show="getQuestionId(section.id, 'reemplazo') == referencia.replace_id &&
                                                               getQuestionId(section.id, 'tipo') == referencia.type_id &&
                                                               getMarcaId() == referencia.brand_id">
                                <span class="input-label">Sugerir Referencia</span>
                                <div>
                                    <input type="text" name="question[{{ section.id}}][sugerir_nombre_comercial]" ng-model="currentQuestion[section.id]['sugerir_nombre_comercial']">
                                    <span ng-if="currentQuestion[section.id]['sugerir_nombre_comercial']">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>
                        </div>

                    </div>

                    <div ng-if="sectionName == 'cadera' && question.id == 'vastago' && question.id != 'tratamiento'">
                        <div ng-repeat="marca in cirugia_protesis.first.marcas">
                            <label class="item item-input item-stacked-label"
                                   ng-if="getReemplazoVastago() == marca.id">
                                <span class="input-label">
                                    Marca
                                </span>
                                <div>
                                    <input type="hidden" name="answers[{{ section.id}}][{{ marca.id}}]" value="{{ currentQuestion[section.id][marca.id].id}}">
                                    <input type="hidden" name="question[{{ section.id}}][marca1]" value="{{ currentQuestion[section.id][marca.id].name}}">
                                    <button class="button button-light button-media" modal-select="" ng-model="currentQuestion[section.id][marca.id]"
                                            options="marca.answers"
                                            modal-title="Marca"
                                            cancel-button="Cancelar"
                                            hide-reset="true">

                                        <span ng-show="isUndefined(currentQuestion[section.id][marca.id].name)">Seleccione</span>
                                        <span ng-show="!isUndefined(currentQuestion[section.id][marca.id].name)">{{ currentQuestion[section.id][marca.id].name}}</span>

                                        <div class="option">
                                            {{ option.name}}
                                        </div>
                                    </button>
                                    <span ng-if="currentQuestion[section.id][marca.id]">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>

                            <label class="item item-input item-stacked-label" ng-if="currentQuestion[section.id][marca.id].id == 'sugerir'">
                        <span class="input-label">Sugerir Marca</span>
                        <div>
                            <input type="text" name="question[{{ section.id}}][sugerir_fabricante1]" ng-model="formQuestion[section.id]['sugerir_fabricante']">
                            <span ng-if="formQuestion[section.id]['sugerir_fabricante']">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                    <label class="item item-input item-stacked-label" ng-if="currentQuestion[section.id][marca.id].id == 'sugerir'">
                        <span class="input-label">Nombre Comercial</span>
                        <div>
                            <input type="text" name="question[{{ section.id}}][sugerir_nombre_comercial1]" ng-model="formQuestion[section.id]['sugerir_nombre_comercial']">
                            <span ng-if="formQuestion[section.id]['sugerir_nombre_comercial']">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>
                        </div>

                        

                        <div ng-repeat="referencia in cirugia_protesis.first.referencias">
                            <label class="item item-input item-stacked-label"
                                   ng-show="getReemplazoVastagoMarca() == referencia.id">
                                <span class="input-label">
                                    Referencia
                                </span>
                                <div>
                                    <input type="hidden" name="answers[{{ section.id}}][{{ referencia.id}}]" value="{{ currentQuestion[section.id][referencia.id].id}}">
                                    <input type="hidden" name="question[{{ section.id}}][referencia1]" value="{{ currentQuestion[section.id][referencia.id].name}}">
                                    <button class="button button-light button-media" modal-select="" ng-model="currentQuestion[section.id][referencia.id]"
                                            options="referencia.answers"
                                            modal-title="Referencia"
                                            cancel-button="Cancelar"
                                            hide-reset="true">

                                        <span ng-show="isUndefined(currentQuestion[section.id][referencia.id].name)">Seleccione</span>
                                        <span ng-show="!isUndefined(currentQuestion[section.id][referencia.id].name)">{{ currentQuestion[section.id][referencia.id].name}}</span>

                                        <div class="option">
                                            {{ option.name}}
                                        </div>
                                    </button>
                                    <span ng-if="currentQuestion[section.id][referencia.id]">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>
                             <label class="item item-input item-stacked-label" ng-if="currentQuestion[section.id][referencia.id].id == 'referencia'">
                                <span class="input-label">Sugerir Nombre Comercial</span>
                                <div>
                                    <input type="text" name="question[{{ section.id}}][sugerir_nombre_comercial1]" ng-model="formQuestion[section.id]['sugerir_nombre_comercial1']">
                                    <span ng-if="formQuestion[section.id]['sugerir_nombre_comercial1']">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div ng-if="sectionName == 'cadera' && question.id == 'copa'">
                        <div ng-repeat="marca in cirugia_protesis.second.marcas">
                            <label class="item item-input item-stacked-label"
                                   ng-if="getReemplazoCopa() == marca.id">
                                <span class="input-label">
                                    Marca
                                </span>
                                <div>
                                    <input type="hidden" name="answers[{{ section.id}}][{{ marca.id}}]" value="{{ currentQuestion[section.id][marca.id].id}}">
                                    <input type="hidden" name="question[{{ section.id}}][marca2]" value="{{ currentQuestion[section.id][marca.id].name}}">
                                    <button class="button button-light button-media" modal-select="" ng-model="currentQuestion[section.id][marca.id]"
                                            options="marca.answers"
                                            modal-title="Marca"
                                            cancel-button="Cancelar"
                                            hide-reset="true">

                                        <span ng-show="isUndefined(currentQuestion[section.id][marca.id].name)">Seleccione</span>
                                        <span ng-show="!isUndefined(currentQuestion[section.id][marca.id].name)">{{ currentQuestion[section.id][marca.id].name}}</span>

                                        <div class="option">
                                            {{ option.name}}
                                        </div>
                                    </button>
                                    <span ng-if="currentQuestion[section.id][marca.id]">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>


                            <label class="item item-input item-stacked-label" ng-if="currentQuestion[section.id][marca.id].id == 'sugerir'">
                        <span class="input-label">Sugerir Marca</span>
                        <div>
                            <input type="text" name="question[{{ section.id}}][sugerir_fabricante2]" ng-model="formQuestion[section.id]['sugerir_fabricante2']">
                            <span ng-if="formQuestion[section.id]['sugerir_fabricante2']">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                    <label class="item item-input item-stacked-label" ng-if="currentQuestion[section.id][marca.id].id == 'sugerir'">
                        <span class="input-label">Sugerir Nombre Comercial</span>
                        <div>
                            <input type="text" name="question[{{ section.id}}][sugerir_nombre_comercial2]" ng-model="formQuestion[section.id]['sugerir_nombre_comercial2']">
                            <span ng-if="formQuestion[section.id]['sugerir_nombre_comercial2']">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                        </div>
                        <div ng-repeat="referencia in cirugia_protesis.second.referencias">
                            <label class="item item-input item-stacked-label"
                                   ng-if="getReemplazoCopaMarca() == referencia.id">
                                <span class="input-label">
                                    Referencia
                                </span>
                                <div>
                                    <input type="hidden" name="answers[{{ section.id}}][{{ referencia.id}}]" value="{{ currentQuestion[section.id][referencia.id].id}}">
                                    <input type="hidden" name="question[{{ section.id}}][referencia2]" value="{{ currentQuestion[section.id][referencia.id].name}}">
                                    <button class="button button-light button-media" modal-select="" ng-model="currentQuestion[section.id][referencia.id]"
                                            options="referencia.answers"
                                            modal-title="Referencia"
                                            cancel-button="Cancelar"
                                            hide-reset="true">

                                        <span ng-show="isUndefined(currentQuestion[section.id][referencia.id].name)">Seleccione</span>
                                        <span ng-show="!isUndefined(currentQuestion[section.id][referencia.id].name)">{{ currentQuestion[section.id][referencia.id].name}}</span>

                                        <div class="option">
                                            {{ option.name}}
                                        </div>
                                    </button>
                                    <span ng-if="currentQuestion[section.id][referencia.id]">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>

                            <label class="item item-input item-stacked-label" ng-if="currentQuestion[section.id][referencia.id].id == 'referencia'">
                                <span class="input-label">Sugerir Referencia</span>
                                <div>
                                    <input type="text" name="question[{{ section.id}}][sugerir_nombre_comercial2]" ng-model="formQuestion[section.id]['sugerir_nombre_comercial2']">
                                    <span ng-if="formQuestion[section.id]['sugerir_nombre_comercial2']">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div ng-if="question.id == 'lateralidad' && record_tipo.id == 3" v-show="record_tipo.id == 3">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">
                                {{ artroscopia.procedimiento.label}}
                            </span>
                            <div>
                                <input type="hidden" name="answers[{{ section.id}}][{{ artroscopia.procedimiento.id}}]" value="{{ formQuestion[section.id][artroscopia.procedimiento.id].id}}">
                                <input type="hidden" name="question[{{ section.id}}][{{ artroscopia.procedimiento.id}}]" value="{{ formQuestion[section.id][artroscopia.procedimiento.id].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="formQuestion[section.id][artroscopia.procedimiento.id]"
                                        options="artroscopia.procedimiento.answers"
                                        modal-title="{{ artroscopia.procedimiento.label}}"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="refreshFabricantesList()">

                                    <span ng-show="isUndefined(formQuestion[section.id][artroscopia.procedimiento.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(formQuestion[section.id][artroscopia.procedimiento.id].name)">{{ formQuestion[section.id][artroscopia.procedimiento.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="formQuestion[section.id][artroscopia.procedimiento.id]">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">
                                Fabricante
                            </span>
                            <div>
                                <input type="hidden" name="answers[{{ section.id}}][fabricante]" value="{{ formQuestion[section.id]['fabricante'].id}}">
                                <input type="hidden" name="question[{{ section.id}}][fabricante]" value="{{ formQuestion[section.id]['fabricante'].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="formQuestion[section.id]['fabricante']"
                                        options="fabricantesList"
                                        modal-title="Fabricante"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="refreshTecnicasList()">

                                    <span ng-show="isUndefined(formQuestion[section.id]['fabricante'].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(formQuestion[section.id]['fabricante'].name)">{{ formQuestion[section.id]['fabricante'].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="formQuestion[section.id]['fabricante'].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>

                        <label class="item item-input item-stacked-label" ng-if="formQuestion[section.id]['fabricante'].id != 'sugerir'">
                            <span class="input-label">
                                Técnica
                            </span>
                            <div>
                                <input type="hidden" name="answers[{{ section.id}}][tecnica]" value="{{ formQuestion[section.id]['tecnica'].id}}">
                                <input type="hidden" name="question[{{ section.id}}][tecnica]" value="{{ formQuestion[section.id]['tecnica'].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="formQuestion[section.id]['tecnica']"
                                        options="tecnicasList"
                                        modal-title="Técnica"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="refreshImplantesList()">

                                    <span ng-show="isUndefined(formQuestion[section.id]['tecnica'].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(formQuestion[section.id]['tecnica'].name)">{{ formQuestion[section.id]['tecnica'].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="formQuestion[section.id]['tecnica'].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>

                        <label class="item item-input item-stacked-label" ng-if="formQuestion[section.id]['fabricante'].id != 'sugerir'">
                            <span class="input-label">
                                Implante
                            </span>
                            <div>
                                <input type="hidden" name="answers[{{ section.id}}][implante]" value="{{ formQuestion[section.id]['implante'].id}}">
                                <input type="hidden" name="question[{{ section.id}}][implante]" value="{{ formQuestion[section.id]['implante'].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="formQuestion[section.id]['implante']"
                                        options="implantesList"
                                        modal-title="Implante"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="refreshNombresComercialesList()">

                                    <span ng-show="isUndefined(formQuestion[section.id]['implante'].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(formQuestion[section.id]['implante'].name)">{{ formQuestion[section.id]['implante'].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="formQuestion[section.id]['implante'].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>

                        <label class="item item-input item-stacked-label" ng-if="formQuestion[section.id]['fabricante'].id != 'sugerir'">
                            <span class="input-label">
                                Nombre Comercial
                            </span>
                            <div>
                                <input type="hidden" name="answers[{{ section.id}}][nombre_comercial]" value="{{ formQuestion[section.id]['nombre_comercial'].id}}">
                                <input type="hidden" name="question[{{ section.id}}][nombre_comercial]" value="{{ formQuestion[section.id]['nombre_comercial'].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="formQuestion[section.id]['nombre_comercial']"
                                        options="nombresComercialesList"
                                        modal-title="Nombre Comercial"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="cansoleNombre(option.id)">

                                    <span ng-show="isUndefined(formQuestion[section.id]['nombre_comercial'].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(formQuestion[section.id]['nombre_comercial'].name)">{{ formQuestion[section.id]['nombre_comercial'].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="formQuestion[section.id]['nombre_comercial'].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>

                        <label class="item item-input item-stacked-label" ng-if="formQuestion[section.id]['fabricante'].id == 'sugerir'">
                        <span class="input-label">Sugerir Fabricante</span>
                        <div>
                            <input type="text" name="question[{{ section.id}}][sugerir_fabricante]" ng-model="formQuestion[section.id]['sugerir_fabricante']">
                            <span ng-if="formQuestion[section.id]['sugerir_fabricante']">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                    <label class="item item-input item-stacked-label" ng-if="formQuestion[section.id]['fabricante'].id == 'sugerir' ||formQuestion[section.id]['nombre_comercial'].id == 'referencia'">
                        <span class="input-label">Sugerir Nombre Comercial</span>
                        <div>
                            <input type="text" name="question[{{ section.id}}][sugerir_nombre_comercial]" ng-model="formQuestion[section.id]['sugerir_nombre_comercial']">
                            <span ng-if="formQuestion[section.id]['sugerir_nombre_comercial']">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                    </div>


                    <input ng-if="alreadySel" type="hidden" name="question[{{ section.id}}][{{ cirugiaosteo.region.id}}]" value="{{alreadySel}}">
                        <!-- <label  class="item item-input item-stacked-label" ng-if="!alreadySel">
                            <span class="input-label">
                                Region 
                            </span>
                            <div>
                                <input ng-if="!alreadySel" type="hidden" name="question[{{ section.id}}][{{ cirugiaosteo.region.id}}]" value="{{ formQuestion[section.id][cirugiaosteo.region.id].id}}">
                                <button ng-if="!alreadySel" class="button button-light button-media" modal-select="" ng-model="formQuestion[section.id][cirugiaosteo.region.id]"
                                        options="cirugiaosteo.region.answers"
                                        modal-title="{{ cirugiaosteo.region.label}}"
                                        cancel-button="Cancelar"
                                        cancel-search-button="Borrar"
                                        search-placeholder="Buscar"
                                        hide-reset="true"
                                        on-select="refreshSubsegmentListNew()">

                                    <span ng-show="isUndefined(formQuestion[section.id][cirugiaosteo.region.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(formQuestion[section.id][cirugiaosteo.region.id].name)">{{ formQuestion[section.id][cirugiaosteo.region.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="formQuestion[section.id][cirugiaosteo.region.id]">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label> -->


                       <!--  <input  ng-if="alreadySel" type="hidden" name="question[{{ section.id}}][sub_segment]"  value="{{ alreadySelSub }}">
                        <input  ng-if="!alreadySel" type="hidden" name="question[{{ section.id}}][sub_segment]"  value="{{ formQuestion[section.id]['sub_segment'].id}}">
                        <label class="item item-input item-stacked-label" ng-if="!alreadySel">
                            <span class="input-label">
                                Sub Segment                            </span>
                            <div>
                                <button class="button button-light button-media" modal-select="" ng-model="formQuestion[section.id]['sub_segment']"
                                        options="subsegmentList"
                                        modal-title="Sub Segment"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="subchosen()">

                                    <span ng-show="isUndefined(formQuestion[section.id]['sub_segment'].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(formQuestion[section.id]['sub_segment'].name)">{{ formQuestion[section.id]['sub_segment'].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="chosen">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label> -->

                    <div ng-if="question.id == 'lateralidad' && record_tipo.id == 1" v-show="record_tipo.id ==1">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">
                                {{ cirugiaosteo.tratamiento.label}}{{ typeof (formQuestion[section.id][cirugiaosteo.tratamiento])}}
                            </span>
                            <div>
                                <input type="hidden" name="answers[{{ section.id}}][{{ cirugiaosteo.tratamiento.id}}]" value="{{ formQuestion[section.id][cirugiaosteo.tratamiento.id].id}}">
                                <input type="hidden" name="question[{{ section.id}}][{{ cirugiaosteo.tratamiento.id}}]" value="{{ formQuestion[section.id][cirugiaosteo.tratamiento.id].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="formQuestion[section.id][cirugiaosteo.tratamiento.id]"
                                        options="cirugiaosteo.tratamiento.answers"
                                        modal-title="{{ cirugiaosteo.tratamiento.label}}"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="refreshFabricantesListNew()">

                                    <span ng-show="isUndefined(formQuestion[section.id][cirugiaosteo.tratamiento.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(formQuestion[section.id][cirugiaosteo.tratamiento.id].name)">{{ formQuestion[section.id][cirugiaosteo.tratamiento.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-show="formQuestion[section.id][cirugiaosteo.tratamiento.id].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>






                        <label class="item item-input item-stacked-label">
                            <span class="input-label">
                                Fabricante
                            </span>
                            <div>
                                <input type="hidden" name="answers[{{ section.id}}][fabricante]" value="{{ formQuestion[section.id]['fabricante'].id}}">
                                <input type="hidden" name="question[{{ section.id}}][fabricante]" value="{{ formQuestion[section.id]['fabricante'].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="formQuestion[section.id]['fabricante']"
                                        options="fabricantesList"
                                        modal-title="Fabricante"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="refreshNombresComercialesListNew()">

                                    <span ng-show="isUndefined(formQuestion[section.id]['fabricante'].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(formQuestion[section.id]['fabricante'].name)">{{ formQuestion[section.id]['fabricante'].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="formQuestion[section.id]['fabricante'].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>





                        <label class="item item-input item-stacked-label" ng-if="formQuestion[section.id]['fabricante'].id != 'sugerir'">
                            <span class="input-label">
                                Nombre Comercial
                            </span>
                            <div>
                                <input type="hidden" name="answers[{{ section.id}}][nombre_comercial]" value="{{ formQuestion[section.id]['nombre_comercial'].id}}">
                                <input type="hidden" name="question[{{ section.id}}][nombre_comercial]" value="{{ formQuestion[section.id]['nombre_comercial'].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="formQuestion[section.id]['nombre_comercial']"
                                        options="nombresComercialesListNew"
                                        modal-title="Nombre Comercial"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="cansoleNombre(formQuestion[section.id]['nombre_comercial'])">

                                    <span ng-show="isUndefined(formQuestion[section.id]['nombre_comercial'].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(formQuestion[section.id]['nombre_comercial'].name)">{{ formQuestion[section.id]['nombre_comercial'].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="formQuestion[section.id]['nombre_comercial'].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>

                        <label class="item item-input item-stacked-label" ng-if="formQuestion[section.id]['fabricante'].id == 'sugerir'">
                        <span class="input-label">Sugerir Fabricante</span>
                        <div>
                            <input type="text" name="question[{{ section.id}}][sugerir_fabricante]" ng-model="formQuestion[section.id]['sugerir_fabricante']">
                            <span ng-if="formQuestion[section.id]['sugerir_fabricante']">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                    <label class="item item-input item-stacked-label" ng-if="formQuestion[section.id]['fabricante'].id == 'sugerir' || formQuestion[section.id]['nombre_comercial'].id == 'referencia'">
                        <span class="input-label">Sugerir Nombre Comercial</span>
                        <div>
                            <input type="text" name="question[{{ section.id}}][sugerir_nombre_comercial]" ng-model="formQuestion[section.id]['sugerir_nombre_comercial']">
                            <span ng-if="formQuestion[section.id]['sugerir_nombre_comercial']">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                    </div>










                    <label ng-click="openModal()" class="item item-input item-stacked-label" ng-if="question.id == 'tipo_fractura' && section.id === 1">
                        <span class="input-label">{{ question.label}}</span>
                        <input type="hidden" name="question[1][tipo_fractura]" value="{{ tipo_fractura}}">
                        <div ng-show="tipo_fractura == null">Seleccione</div>
                        <div ng-if="tipo_fractura != ''&& tipo_fractura != undefined">{{ tipo_fractura | limitTo:7 | tipofilter | uppercase}}</div>
                        <span ng-if="tipo_fractura">
                            <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                        </span>
                    </label>
                    <label ng-click="openModal(currentQuestion[section.id][question.dependent.id].id)" class="item item-input item-stacked-label" ng-if="question.id == 'tipo_fractura_indicacion'"
                     ng-show="currentQuestion[section.id][question.dependent.id].id == question.dependent.value">
                        <span class="input-label">{{ question.label}}</span>
                        <input type="hidden" name="question[1][tipo_fractura]" value="{{ tipo_fractura}}">
                        <div ng-show="tipo_fractura == null">Seleccione</div>
                        <div ng-if="tipo_fractura != ''&& tipo_fractura != undefined">{{ tipo_fractura | limitTo:7 | tipofilter | uppercase}}</div>
                        <span ng-if="tipo_fractura">
                            <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                        </span>
                    </label>
                    <label ng-click="openModal()" class="item item-input item-stacked-label" ng-if="question.id == 'tipo_fractura' && section.id === 2"
                     ng-show="currentQuestion[section.id][question.dependent.id].id == question.dependent.value">
                        <span class="input-label">{{ question.label}}</span>
                        <input type="hidden" name="question[1][tipo_fractura]" value="{{ tipo_fractura}}">
                        <div ng-show="tipo_fractura == null">Seleccione</div>
                        <div ng-if="tipo_fractura != '' && tipo_fractura != undefined">{{ tipo_fractura | limitTo:7 | tipofilter | uppercase}}</div>
                        <span ng-if="tipo_fractura">
                            <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                        </span>
                    </label>
                </div>
                <div class="button-bar">
                    <button ng-click="save(erpForm)" class="button button-positive button-block">Guardar</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>