<ion-view title="{{ pageTitle}}" id="page11" class=" ">
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon icon-right ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="false" class="has-header">
        <form id="frmErpForms" class="list consulta-section">
            <!-- Section #1 -->
            <div ng-repeat="section in sections" ng-show="displayIf($index + 1)">
                <!-- Section -->
                <div class="button-bar" ng-if="displayIfMiddle($index + 1)">
                    <button ng-click="previousSection()" class="button button-stable button-block icon-left ion-android-arrow-back">Anterior</button>
                    <button ng-click="nextSection()" class="button button-positive button-block icon-right ion-android-arrow-forward">Siguiente</button>
                </div>
                <div class="button-bar" ng-if="displayIfLast($index + 1)">
                    <button ng-click="previousSection()" class="button button-stable button-block icon-left ion-android-arrow-back" ng-if="$index > 0">Anterior</button>
                    <button ng-click="save()" class="button button-positive button-block">Guardar</button>
                </div>

                <div class="item item-divider custom-item-divider" ng-if="section.id == 'Escala de Constant' || section.id == 'Escala de Harris'|| section.id == 'Escala de KSS'">
                    {{ section.id}}
                </div>

                <div ng-repeat="question in section.questions">
                    <label class="item item-input item-stacked-label" ng-if="question.type == 'text'">
                        <span class="input-label">{{ question.label}}</span>
                        <div ng-bind-html="renderHtml(question.html)"></div>
                    </label>

                    <label class="item item-input item-stacked-label" ng-if="question.type == 'slider'">
                        <span class="input-label">{{ question.label}} ({{ question[question.id]}})</span>
                        <div class="range">
                            <input type="range"
                                   ng-model="question[question.id]"
                                   ng-init="question[question.id] = 0"
                                   name="question[{{ question.id}}]"
                                   min="{{ question.range.from}}"
                                   max="{{ question.range.to}}">
                                <!--ng-change="consoleValue(question.id, question[question.id])"  -->
                        </div>
                        <span ng-if="question[question.id]">
                            <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                        </span>
                    </label>

                    <div class="item" ng-if="question.type == 'boolean'">
                        {{ question.label}}
                        <div ng-if="question.break_line" class="clearfix"></div>
                        <!-- <label class="toggle toggle-positive">
                            <input type="checkbox" ng-model="question[question.id]" name="question[{{ question.id}}]">
                            <div class="track"><div class="handle"></div></div>
                            <span ng-if="question[question.id] == true">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </label> -->
                        <div class="row rad">
                            <!-- <ion-radio  name="question[{{question.id}}]" class="col" ng-model="question.[question.id]"  ng-value="true">
                            Sir
                            </ion-radio> -->
                            <ion-radio name="question[{{question.id}}]" class="col" ng-model="question[question.id]" ng-value="'true'" ng-click="consoled(question[question.id])">Si</ion-radio>
                            <ion-radio name="question[{{question.id}}]" class="col" ng-model="question[question.id]" ng-value="'false'" ng-click="consoled(question[question.id])">No</ion-radio>
                           <!--  <ion-radio  name="question[{{question.id}}]"  class="col" ng-model="question.[question.id]"  ng-value="true">
                            No
                            </ion-radio> -->
                        </div>
                        <span ng-if="question[question.id] != undefined">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                    </div>

                    <!-- Changes added by xtapps developer -->
                    
                    <label class="item item-divider custom-item-divider" ng-if="question.type=='group'">
                        <b>{{question.label}}</b>
                    </label>
                                    <div class="item" ng-repeat=" bool in question.bool_questions" ng-if="bool.type == 'boolean'" ng-class="{'break-line': bool.break_line}">
                                     <span ng-if="question.bool_questions[bool.id] != undefined">
                                            <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                        </span>
                                    {{ bool.label}}
                                   <!--  <div  ng-if="bool.break_line" class="clearfix"></div>
                                    <label class="toggle toggle-positive">
                                        <input type="checkbox" ng-model="question.bool_questions[bool.id]" name="question.bool_questions[{{bool.id}}]">
                                        <div class="track"><div class="handle"></div></div>
                                        <span ng-if="question.bool_questions[bool.id]">
                                            <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                        </span>
                                    </label> -->
                                        <div class="row rad" >
                                        <ion-radio ng-class="{si: question.bool_questions[bool.id],no :!question.bool_questions[bool.id]}" name="answer[{{rads.id}}]" class="col" ng-repeat="rads in  bool.answers" class="button" ng-model="question.bool_questions[bool.id]" ng-click="consoleValue(bool.id,rads)" ng-value="rads.value">
                                        {{rads.name}}
                                        </ion-radio>
                                        </div>


                                </div>

                        <label ng-repeat="rango in question.rango_questions" class="item item-input item-stacked-label" ng-if="rango.type == 'select'">
                        <span class="input-label">
                            <div ng-bind-html="renderHtml(rango.label)"></div>
                        </span>
                        <div>
                            <!-- <input type="hidden" name="question[{{ rango.id}}]" value="{{ question.rango_questions[rango.id].name}}"> -->
                            <button class="button button-light button-media" modal-select="" ng-model="question.rango_questions[rango.id]"
                                    options="rango.answers"
                                    modal-title="{{ rango.label}}"
                                    cancel-button="Cancelar"
                                    hide-reset="true"
                                    on-select="queueRefreshQuestions();consoleValue(rango.id,question.rango_questions[rango.id])">

                                <span ng-show="isUndefined(question.rango_questions[rango.id].name)">Seleccione</span>
                                <span ng-show="!isUndefined(question.rango_questions[rango.id].name)">{{ question.rango_questions[rango.id].name}}</span>

                                <div class="option">
                                    {{ option.name}}
                                </div>
                            </button>
                            <span ng-if="question.rango_questions[rango.id].id">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                        <label class="item item-input item-stacked-label" ng-if="question.type == 'multi_select'" ng-click="consoled(question[question.id])">
                        <span class="input-label">
                            <div ng-bind-html="renderHtml(question.label)"></div>
                        </span>
                        <div>
                            <!-- <input type="hidden" name="question[{{ question.id}}]" value="{{ question[question.id].name}}"> -->
                            <button class="button button-light button-media" multiple='true' modal-select="" ng-model="question[question.id]"
                                    options="question.answers"
                                    modal-title="{{ question.label}}"
                                    cancel-button="Cancelar"
                                    hide-reset="true"
                                    on-select="queueRefreshQuestions()">

                                <span ng-show="isUndefined(question[question.id])">Seleccione</span>
                                <span ng-show="question[question.id].length>0">{{ question[question.id].length}} opciones</span>

                                <div class="option">
                                    {{ option.name}}
                                </div>
                            </button>
                            <span ng-if="question[question.id].length>0">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>


                     <!-- Changes added by xtapps developer -->

                    <label class="item item-input item-stacked-label" ng-if="question.type == 'select'">
                        <span class="input-label">
                            <div ng-if="question.subtittle == undefined && question.subtittle == null && question.label" ng-bind-html="renderHtml(question.label)"></div>
                            <div class="mt" ng-if="question.subtittle != undefined && question.subtittle != null && question.label">
                                <b><div ng-bind-html="renderHtml(question.label)"></div></b>
                            </div>
                            <div ng-if="question.subtittle != undefined || question.subtittle != null ">
                            <span class="subtittle">{{question.subtittle}}</span>
                            <!-- <input type="hidden" name="question[{{ question.id}}]" value="{{ question[question.id].name}}"> -->
                                <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                    options="question.answers"
                                    modal-title="{{ question.subtittle}}"
                                    cancel-button="Cancelar"
                                    hide-reset="true"
                                    on-select="consoleValue(question.id,question[question.id]);cosoleDegen(question.id)">

                                    <!-- <span ng-show="isUndefined(question[question.id].name)">Seleccione</span> -->
                                    <!-- <span ng-show="!isUndefined(question[question.id].name)">{{ question[question.id].name}}</span> -->

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                            </div>
                        </span>
                        <div>
                            <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                            <!-- <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}"> -->
                            <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                    options="question.answers"
                                    modal-title="{{ question.label}}"
                                    cancel-button="Cancelar"
                                    hide-reset="true"
                                    on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                <span ng-show="!isUndefined(question[question.id].name)">{{ question[question.id].name}}</span>

                                <div class="option">
                                    {{ option.name}}
                                </div>
                            </button>
                            <span ng-if="question[question.id].id">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>


                     <!-- Changes added by xtapps developer -->

                     <!-- Columna changes -->
                     <div  ng-if="(question.id == 'enfermedad_degenerativa' && enfermedad) || (question.id == 'enfermedad_degenerativa_octro' && enfermedad)">
                        <label class="item item-input item-stacked-label" ng-if="question.type == 'select_dependent'">
                            <span class="input-label">
                                <div ng-bind-html="renderHtml(question.label)"></div>
                            </span>
                            <div>
                                <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                                <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                        options="question.answers"
                                        modal-title="{{ question.label}}"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                    <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(question[question.id].name)">{{ question[question.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="question[question.id].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>

                        <label class="item item-input item-stacked-label" ng-if="question.type == 'text_dependent' && enfermedad_otra">
                            <span class="input-label">{{ question.label}}
                            </span>
                            <div ng-bind-html="renderHtml(question.html)"></div>
                        </label>
                         
                     </div>

                     <div ng-if="(question.id == 'tipo_de_deformidad' && deformidad) || (question.id == 'tipo_de_escoliosis' && deformidad) || (question.id == 'etiologia_prdominante' && deformidad) || (question.id == 'deformidad_otra' && deformidad) || (question.id == 'etiologia_prdominante_octro' && deformidad)">
                         <label class="item item-input item-stacked-label" ng-if="question.type == 'select_dependent'">
                            <span class="input-label">
                                <div ng-bind-html="renderHtml(question.label)"></div>
                            </span>
                            <div>
                                <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                                <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                        options="question.answers"
                                        modal-title="{{ question.label}}"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                    <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(question[question.id].name)">{{ question[question.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="question[question.id].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>


                        <label class="item item-input item-stacked-label" ng-if="question.id == 'deformidad_otra' && deformidad_otra">
                            <span class="input-label">{{ question.label}}
                            </span>
                            <div ng-bind-html="renderHtml(question.html)"></div>
                        </label>
                    </div>

                    <label class="item item-input item-stacked-label" ng-if="(question.id == 'espondilolistesis' && espondilolistesis) || (question.id == 'grado_de_espondilolistesis' && espondilolistesis)">
                        <span class="input-label">
                            <div ng-bind-html="renderHtml(question.label)"></div>
                        </span>
                        <div>
                            <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                            <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                            <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                    options="question.answers"
                                    modal-title="{{ question.label}}"
                                    cancel-button="Cancelar"
                                    hide-reset="true"
                                    on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                <span ng-show="!isUndefined(question[question.id].name)">{{ question[question.id].name}}</span>

                                <div class="option">
                                    {{ option.name}}
                                </div>
                            </button>
                            <span ng-if="question[question.id].id">
                                <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                            </span>
                        </div>
                    </label>

                    <div  ng-if="(question.id == 'fractura_truama' && fractura_truama) ||(question.id == 'tipo' && fractura_truama) ||(question.id == 'grupo' && fractura_truama) ||(question.id == 'tipo_de_fractura' && fractura_truama) ||(question.id == 'grupo' && fractura_truama) ||(question.id == 'sub_grupo' && fractura_truama) ||(question.id == 'fractura_truama_otra_cual' && fractura_truama) ||(question.id == 'fractura_pathologica_por' && fractura_truama) || (question.id == 'fractura_pathologica_poo_otra_cual' && fractura_truama)|| (question.id == 'antiguedad_de_la_fractura' && fractura_truama)|| (question.id == 'fractura_pathologica_por_otra_cual' && fractura_truama)">
                        <label class="item item-input item-stacked-label" ng-if="(question.type == 'select_dependent' && question.id == 'fractura_truama') || (question.type == 'select_dependent' && question.id == 'fractura_pathologica_por') || (question.type == 'select_dependent' && question.id == 'antiguedad_de_la_fractura')">
                            <span class="input-label">
                                <div ng-bind-html="renderHtml(question.label)"></div>
                            </span>
                            <div>
                                <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                                <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                        options="question.answers"
                                        modal-title="{{ question.label}}"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                    <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(question[question.id].name)">{{ question[question.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="question[question.id].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label> 


                        <label class="item item-input item-stacked-label" ng-if="(question.type == 'select_dependent' && question.id == 'tipo_de_fractura' && tipo_de_fractura_1) || (question.type == 'select_dependent' && question.id == 'tipo' && tipo_de_fractura_2) || (question.type == 'select_dependent' && question.id == 'grupo' && tipo_de_fractura_2) || (question.type == 'select_dependent' && question.id == 'sub_grupo' && tipo_de_fractura_2)">
                            <span class="input-label">
                                <div ng-bind-html="renderHtml(question.label)"></div>
                            </span>
                            <div>
                                <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                                <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                        options="question.answers"
                                        modal-title="{{ question.label}}"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                    <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(question[question.id].name)">{{ question[question.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="question[question.id].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label> 

                        <label class="item item-input item-stacked-label" ng-if="(question.id == 'fractura_truama_otra_cual' && fractura_truama_octra) || (question.id == 'fractura_pathologica_por_otra_cual' && pathologica_otra)">
                            <span class="input-label">{{ question.label}}
                            </span>
                            <div ng-bind-html="renderHtml(question.html)"></div>
                        </label>
                        
                    </div>


                    <div  ng-if="(question.id == 'tipo_de_tumor' && tumor) || (question.id == 'localization' && tumor) || (question.id == 'tipo_de_tumor_otra_cual' && tumor) || (question.id == 'localization_otra_cual' && tumor)">
                            <label class="item item-input item-stacked-label" ng-if="question.type == 'select_dependent'">
                                <span class="input-label">
                                    <div ng-bind-html="renderHtml(question.label)"></div>
                                </span>
                                <div>
                                    <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                                    <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                                    <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                            options="question.answers"
                                            modal-title="{{ question.label}}"
                                            cancel-button="Cancelar"
                                            hide-reset="true"
                                            on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                        <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                        <span ng-show="!isUndefined(question[question.id].name)">{{ question[question.id].name}}</span>

                                        <div class="option">
                                            {{ option.name}}
                                        </div>
                                    </button>
                                    <span ng-if="question[question.id].id">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>

                            <label class="item item-input item-stacked-label" ng-if="(question.id == 'tipo_de_tumor_otra_cual' && tipo_de_tumor_otra) || (question.id == 'localization_otra_cual' && localization_otra)">
                                <span class="input-label">{{ question.label}}
                                </span>
                                <div ng-bind-html="renderHtml(question.html)"></div>
                            </label>
                    </div>


                    <div  ng-if="(question.id == 'tipo_de_inflamacion' && inflamacion) || (question.id == 'tipo_de_inflamacion_otra_cual' && inflamacion)">
                            <label class="item item-input item-stacked-label"  ng-if="question.type == 'select_dependent'">
                                <span class="input-label">
                                    <div ng-bind-html="renderHtml(question.label)"></div>
                                </span>
                                <div>
                                    <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                                    <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                                    <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                            options="question.answers"
                                            modal-title="{{ question.label}}"
                                            cancel-button="Cancelar"
                                            hide-reset="true"
                                            on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                        <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                        <span ng-show="!isUndefined(question[question.id].name)">{{ question[question.id].name}}</span>

                                        <div class="option">
                                            {{ option.name}}
                                        </div>
                                    </button>
                                    <span ng-if="question[question.id].id">
                                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                    </span>
                                </div>
                            </label>

                            <label class="item item-input item-stacked-label" ng-if="question.id == 'tipo_de_inflamacion_otra_cual' && inflamacion_otra">
                                <span class="input-label">{{ question.label}}
                                </span>
                                <div ng-bind-html="renderHtml(question.html)"></div>
                            </label>
                    </div>


                    <div ng-if="(question.id == 'tipo_de_infeccion' && infeccion) || (question.id == 'tipo_de_infeccion_otra_cual' && infeccion) || (question.id == 'estructura_afectada' && infeccion) || (question.id == 'estructura_afectada_otra_cual' && infeccion)">
                        
                        <label class="item item-input item-stacked-label" ng-if="question.type == 'select_dependent'">
                            <span class="input-label">
                                <div ng-bind-html="renderHtml(question.label)"></div>
                            </span>
                            <div>
                                <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                                <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                        options="question.answers"
                                        modal-title="{{ question.label}}"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                    <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(question[question.id].name)">{{ question[question.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="question[question.id].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>

                            <label class="item item-input item-stacked-label" ng-if="(question.id == 'tipo_de_infeccion_otra_cual' && tipo_de_infeccion_otra) || (question.id == 'estructura_afectada_otra_cual' && estructura_afectada_otra)">
                                <span class="input-label">{{ question.label}}
                                </span>
                                <div ng-bind-html="renderHtml(question.html)"></div>
                            </label>
                    </div>




                    <div ng-if="(question.id == 'tipo_de_reintervencion' && reintervencion) || (question.id == 'tipo_de_reintervencion_otra_cual' && reintervencion)">
                        <label class="item item-input item-stacked-label" ng-if="question.type == 'select_dependent'">
                            <span class="input-label">
                                <div ng-bind-html="renderHtml(question.label)"></div>
                            </span>
                            <div>
                                <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                                <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                        options="question.answers"
                                        modal-title="{{ question.label}}"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                    <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(question[question.id].name)" style="white-space: normal;">{{ question[question.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="question[question.id].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>
                        <label class="item item-input item-stacked-label" ng-if="question.id == 'tipo_de_reintervencion_otra_cual' && tipo_de_reintervencion_otra">
                                <span class="input-label">{{ question.label}}
                                </span>
                                <div ng-bind-html="renderHtml(question.html)"></div>
                            </label>
                    </div>




                    <div ng-if="question.type == 'score_select' && oswerty">
                        <div class="item item-divider" ng-if="question.title != null">
                            <label><b>{{question.title}}</b></label>
                        </div>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">
                                <div ng-bind-html="renderHtml(question.label)"></div>
                            </span>
                            <div>
                                <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                                <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                        options="question.answers"
                                        modal-title="{{ question.label}}"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                    <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(question[question.id].name)" style="white-space: normal;">{{ question[question.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="question[question.id].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>
                        <label class="item item-input item-stacked-label" ng-if="question.id == 'tipo_de_reintervencion_otra_cual' && tipo_de_reintervencion_otra">
                                <span class="input-label">{{ question.label}}
                                </span>
                                <div ng-bind-html="renderHtml(question.html)"></div>
                            </label>
                    </div>




                    <div ng-if="question.type == 'segun_segmento_select' && segun_segmento">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">
                                <div ng-bind-html="renderHtml(question.label)"></div>
                            </span>
                            <div>
                                <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                                <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                        options="question.answers"
                                        modal-title="{{ question.label}}"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                    <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(question[question.id].name)" style="white-space: normal;">{{ question[question.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="question[question.id].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>
                    </div>




                    <div ng-if="question.type == 'cercival_score_select' && cervical">
                        <div class="item item-divider" ng-if="question.title != null">
                            <label><b>{{question.title}}</b></label>
                        </div>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">
                                <div ng-bind-html="renderHtml(question.label)"></div>
                            </span>
                            <div>
                                <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                                <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                        options="question.answers"
                                        modal-title="{{ question.label}}"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                    <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(question[question.id].name)" style="white-space: normal;">{{ question[question.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="question[question.id].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>
                        <label class="item item-input item-stacked-label" ng-if="question.id == 'tipo_de_reintervencion_otra_cual' && tipo_de_reintervencion_otra">
                                <span class="input-label">{{ question.label}}
                                </span>
                                <div ng-bind-html="renderHtml(question.html)"></div>
                            </label>
                    </div>




                    <div ng-if="question.type == 'escala_select' && escala">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">
                                <div ng-bind-html="renderHtml(question.label)"></div>
                            </span>
                            <div>
                                <input type="hidden" name="answer[{{ question.id}}]"  value="{{ question[question.id].id}}">
                                <input type="hidden" name="question[{{ question.id}}]"  value="{{ question[question.id].name}}">
                                <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                        options="question.answers"
                                        modal-title="{{ question.label}}"
                                        cancel-button="Cancelar"
                                        hide-reset="true"
                                        on-select="consoleValue(question.id, question[question.id]);cosoleDegen(question.id)">

                                    <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                    <span ng-show="!isUndefined(question[question.id].name)" style="white-space: normal;">{{ question[question.id].name}}</span>

                                    <div class="option">
                                        {{ option.name}}
                                    </div>
                                </button>
                                <span ng-if="question[question.id].id">
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </div>
                        </label>
                        <label class="item item-input item-stacked-label" ng-if="question.id == 'tipo_de_reintervencion_otra_cual' && tipo_de_reintervencion_otra">
                                <span class="input-label">{{ question.label}}
                                </span>
                                <div ng-bind-html="renderHtml(question.html)"></div>
                            </label>
                    </div>



                     <!-- Columna changes -->


                    <label class="item item-input item-stacked-label" ng-if="question.type == 'texts_dependent'">
                        <span class="input-label">{{ question.label}}
                        </span>
                        <div ng-bind-html="renderHtml(question.html)"></div>
                    </label>

                    <label class="item item-input item-stacked-label colorer" ng-if="question.type == 'yesorno'">
                        <span class="input-label">
                            <div ng-bind-html="renderHtml(question.label)"></div>
                        </span>
                        <div>
                            <label class="toggle toggle-positive">
                                <input type="checkbox" ng-model="question[question.id]" name="question[{{ question.id}}]">
                                <div class="track"><div class="handle"></div></div>     
                            </label>
                            <br>
                            <label>
                                <span ng-if="question[question.id]">Si</span>
                                <span ng-if="!question[question.id]">No</span>
                                <span>
                                    <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                                </span>
                            </label>
                        </div>
                    </label>



                    <label class="item item-input item-stacked-label" ng-if="question.type == 'image'">
                        <span class="input-label">{{ question.label}}</span>
                        <div>
                            <input type="hidden" name="images[{{ question.id}}]" id="images_{{ question.id}}" value="images[question.id]">
                            <button type="button" class="button button-light button-media" ng-click="addMedia(question.id)" ng-init="images[question.id] = ''">
                                {{ images[question.id] == '' ? 'Seleccione' : 'Imagen Cargada,' }}
                            </button>
                        </div>
                        <span ng-if="images[question.id]">
                        <i class="icon iicon ion-checkmark-circled" style="color:green;float: right;"></i>
                    </span>
                    </label>
                    
                </div>

                <div class="button-bar" ng-if="displayIfFirst($index + 1)">
                    <button href="#" ng-click="nextSection()" class="button button-positive button-block icon-right ion-android-arrow-forward">Siguiente</button>
                </div>
                <div class="button-bar" ng-if="displayIfMiddle($index + 1)">
                    <button ng-click="previousSection()" class="button button-stable button-block icon-left ion-android-arrow-back">Anterior</button>
                    <button ng-click="nextSection()" class="button button-positive button-block icon-right ion-android-arrow-forward">Siguiente</button>
                </div>
                <div class="button-bar" ng-if="displayIfLast($index + 1)">
                    <button ng-click="previousSection()" class="button button-stable button-block icon-left ion-android-arrow-back" ng-if="$index > 0">Anterior</button>
                    <button ng-click="save(question)" class="button button-positive button-block">Guardar</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>