<ion-modal-view xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Clasificación AO</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cerrar</button>
    </ion-header-bar>
    <ion-content>
        <div class="list --narrow">
            <div class="item item-divider">
                Segmento #1
            </div>
            <a class="item" ng-repeat="segment in firstSegments" ng-click="setFirstSegment(segment.id)">
                {{ segment.label }}
            </a>
        </div>

        <div class="list --narrow" ng-show="haveSecondSegment()">
            <div class="item item-divider">
                Segmento #2
            </div>
            <a class="item" ng-repeat="segment in secondSegmentList()" ng-click="setSecondSegment(segment.id)">
                {{ segment.label }}
            </a>
        </div>

        <div ng-show="optionsList().length" style="margin-top: 20px;padding: 0 20px;">
            <div ng-repeat="option in optionsList()">
                <div class="thumbnail" ng-if="option.image">
                    <div class="caption">
                        {{ option.label }}
                    </div>
                    <img ng-src="img/erp/{{ humanPart }}/{{ option.image }}">
                </div>
                <div class="clearfix"></div>

                <div ng-repeat="image in option.items">
                    <a ng-click="setOAFoundation(image)" class="thumbnail">
                        <div class="caption">
                            {{ getImageName(image)| limitTo:7 | tipofilter | uppercase}}
                        </div>
                        <img ng-src="img/erp/{{ humanPart }}/{{ image }}">
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <style>
            .list.--narrow .item {
                padding: 8px 16px;
            }
            .thumbnail {
                display: block;
                padding: 4px;
                line-height: 1.42857143;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 4px;

                text-align: center;
                margin-right: 10px;
                margin-bottom: 10px;
                float: left;
            }
        </style>
    </ion-content>
</ion-modal-view>
