<ion-view title="Procedimientos" id="page11" class=" ">
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon icon-right ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content scroll="false" class="has-header">
        <div class="list card">
            <div class="item item-image">
                <img src="img/human-body-400.jpg" class="map" usemap="#proceduremap">
                <map name="proceduremap">
                    <area shape="circle" coords="100,100,50" href="javascript:alert(1);" alt="Venus" style="color: red;background-color: red;">
                </map>
            </div>
        </div>
    </ion-content>
</ion-view>