<ion-modal-view>
    <ion-header-bar>
     <div class="buttons">
      <button class="button" ng-click="tipoModal.hide()"><i class="ion-arrow-left-c"></i></button>
    </div>
      <h1 class="title">Tipo de Procedimiento</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
      	<ion-item ng-repeat = "sec in sections" ng-click="closeTipoModal(sec.id)">
      		{{sec.name}}
      	</ion-item>
      </ion-list>
   </ion-content>
  </ion-modal-view>