<script>
//jQuery('img[usemap]').imageMap();    
</script>
<ion-view title="{{ pageTitle }}" id="page8" class=" ">
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon icon-right ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header">
        <form id="frmErpForms" class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">
                    Tipo de Procedimiento
                </span>
                <div>
                    <input type="hidden" name="record_tipo" value="{{ record_tipo.id }}">
                    <button class="button button-light button-media" modal-select="" ng-model="record_tipo"
                            options="sections"
                            modal-title="Tipo de Procedimiento"
                            cancel-button="Cancelar"
                            hide-reset="true">

                        <span ng-show="isUndefined(record_tipo.name)">Seleccione</span>
                        <span ng-show="!isUndefined(record_tipo.name)">{{ record_tipo.name }}</span>

                        <div class="option">
                            {{ option.name }}
                        </div>
                    </button>
                </div>
            </label>

            <!-- Section #1 -->
            <div ng-repeat="section in sections" ng-show="record_tipo.id == section.id">
                <!-- Section -->
                <div ng-repeat="question in section.questions">
                    <label class="item item-input item-stacked-label" ng-if="question.type == 'text'">
                        <span class="input-label">{{ question.label }}</span>
                        <div ng-bind-html="renderHtml(question.html)"></div>
                    </label>
                    <label ng-click="chooseTime(question.id)" class="item item-input item-stacked-label" ng-if="question.type == 'time'">
                        <span class="input-label">{{ question.label }}</span>
                        <div ng-show="!timeExists(question.id)">Seleccione</div>
                        <div ng-show="timeExists(question.id)">{{ getTime(question.id) }}</div>
                        <input type="hidden" name="question[{{ question.id }}]" id="question_time_{{ question.id }}" data-epoch="3600">
                    </label>
                    <label class="item item-input item-stacked-label" ng-if="question.type == 'select'">
                        <span class="input-label">
                            <div ng-bind-html="renderHtml(question.label)"></div>
                        </span>
                        <div>
                            <input type="hidden" name="question[{{ question.id }}]" value="{{ question[question.id].id }}">
                            <button class="button button-light button-media" modal-select="" ng-model="question[question.id]"
                                    options="question.answers"
                                    modal-title="{{ question.label }}"
                                    cancel-button="Cancelar"
                                    hide-reset="true"
                                    on-select="queueRefreshQuestions()">

                                <span ng-show="isUndefined(question[question.id].name)">Seleccione</span>
                                <span ng-show="!isUndefined(question[question.id].name)">{{ question[question.id].name }}</span>

                                <div class="option">
                                    {{ option.name }}
                                </div>
                            </button>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label" ng-if="question.type == 'image'">
                        <span class="input-label">{{ question.label }}</span>
                        <div>
                            <input type="hidden" name="images[{{ question.id }}]" id="images_{{ question.id }}">
                            <button type="button" class="button button-light button-media" ng-click="addMedia(question.id)">
                                Seleccione
                            </button>
                        </div>
                    </label>
                </div>
                <div class="button-bar">
                    <button ng-click="save()" class="button button-positive button-block">Guardar</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>