.lb{
    white-space: normal;
}

span.val.ng-binding {
    margin-left: auto;
    white-space: initial;
}
b.ty.ng-binding {
    float: right;
    margin-right: 10px;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
}

.bar.bar-positive .title,
.button.button-positive,
.button.button-stable {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.button.button-stable {
    border-color: buttonface;
}

.button-media {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: -0.1px;
    color: #111 !important;
    padding: 0;
    line-height: 30px;
    min-height: 25px;
    text-align: left;
}

.item-input input, .item-input textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: -0.1px;
}

.input-label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.item-stacked-label .input-label {
    font-weight: 600;
    white-space: normal !important;
    max-width: none !important;
    width: 100%;
}

.list-show .item-stacked-label .input-label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.item-input {
    padding: 6px 16px 5px 16px;
}

label.item-input {
    border-left-width: 0px;
    border-right-width: 0px;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #3e6fc1;
    background-color: #333333;
}

.clearfix {
    clear: both;
}

.item-input select {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: -0.1px;
    margin-left: -4px;
}

.item-select.item-stacked-label select {
    margin-left: 0;
    margin-bottom: 6px;
}

.item-select:after {
    top: 77%;
}

.center {
    text-align:center;
}

#sign-in label.item-input {
    padding-left: 6px;
}

#sign-in label.item-input .icon {
    min-width: 21px;
    font-size: 22px;
}

#home-page > .row {
    padding: 0;
}

#home-page a {
    font-size: 12px;
    color: #333333;
    text-decoration: none;
}

#profile-page .birth_date {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: -0.1px;
    padding-left: 0;
    margin-left: -2px;
}

.ionic_datepicker_popup .popup-body .selected_date_full,
.ionic_datepicker_popup .selected_date,
.ionic_datepicker_popup .popup-buttons button {
    background-color: #3e6fc1;
}

.ionic_datepicker_popup .popup-body .button-clear,
.ionic_datepicker_popup .popup-body .month_select:after,
.ionic_datepicker_popup .popup-body .year_select:after {
    color: #3e6fc1;
}

.ionic_datepicker_popup .popup-body .month_select, .ionic_datepicker_popup .popup-body .year_select {
    border-bottom: 1px solid #3e6fc1;
}

.item-checkbox .checkbox {
    left: -3px;
}

.item-checkbox {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: -0.1px;
    padding: 6px;
    padding-left: 35px;
    border-width: 0;
}

.item-checkbox .item-content {
    white-space: normal;
}

.checkbox-icon {
    width: 20px;
    height: 20px;
}

.checkbox-icon:after {
    width: 11px;
    height: 5px;
}

.ionic_timepicker_popup .heading,
.ionic_timepicker_popup .button_set,
.ionic_timepicker_popup .button_close {
    background-color: #3e6fc1;
    border-radius: 0;
}

.popup-showing .popup-body {
    text-align: center;
}

.range input {
    margin: 0;
}

.range {
    padding: 2px 0;
}

.item-toggle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #444;
}

.button-bar > .button:first-child {
    border-left-width: 0;
    border-radius: 0;
}

.button-bar > .button:last-child {
    border-right-width: 0;
    border-radius: 0;
}

.custom-item-divider.item-divider {
}

.break-line.item-toggle {
    padding-right: 15px;
}

.break-line.item-toggle .toggle {
    position: relative;
    right: 0;
}

.break-line .toggle .track {
    width: 43px;
    height: 23px;
}

.break-line .toggle .handle {
    width: 19px;
    height: 19px;
}
.action-sheet .button {
    color:#383838 !important;   
}
.ionicfloat
{
    margin-top: 10px;
    margin-right: 10px;
    border: solid 1px #CCC;
    border-radius: 4px;
    padding: 2px 5px 2px 5px;
    cursor:pointer;
}
/*.item.activated
{
     background: red !important; 
    background-image: url(https://cdn2.iconfinder.com/data/icons/weby-flat-vol-1/512/1_Approved-check-checkbox-confirm-green-success-tick-128.png);
     background: no-repeat; 
    background-repeat: no-repeat;
    background-size: 30px 32px;
    background-position: right;
     background-attachment: fixed; 
    background-position: 97%
}*/
.loca
{
    background-color: #32599a !important;
    border: 1px solid #ccc;
}
.noloca
{
    background-color: #32599a;
}
.colorer .toggle.toggle-positive input:checked + .track {
    border-color: #00ff4b;
    background-color: #02ff00;
}
.colorer .toggle .track {
    border: solid 2px red;
    background-color: red;
}
span.subtittle.ng-binding {
    font-size: 12px;
}



.rad .item-radio input:checked + .radio-content .item-content {
    background: #3e6fc1;
}
.rad .ion-checkmark:before{display: none;}
.rad .col{padding: 0;
    margin: 0 10px;
    text-align: center;}
.rad  .item-complex .item-content, .item-radio .item-content {   
    padding: 6px 10px;}
.sug {
    font-weight: bold;
    font-style: italic;
}
.ref {
    font-weight: bold;
    font-style: italic;
}
p.help-block {
    font-size: 15px;
    color: red;
    white-space: initial;
}

i.icon.ion-calendar {font-size: 28px;}

.pt-avt {
    position: absolute;
    top: 20px !important;
    left: 20px !important;
    max-width: 50px !important;
    max-height: 50px !important;
    width: 100%;
    height: 100%;
    }
.mbsc-err-msg {
    color:  red;
}
.forgot{
    float: right;
    margin-bottom: 10px;
    margin-right: 20px;
    color: #2c6bcc;
    text-decoration: underline;
}
